# directories
CMakeFiles/*
resources/*
!resources/models/
resources/models/ignore/*

# files
moc_*.cpp
moc_*.cxx*
*.sublime-*
CMakeCache.txt
cmake_install.cmake
make.log
Makefile
PBR
PBR_automoc.cpp
valgrind.log
