# directories
CMakeFiles/
glfw_binary_dir/
PBR_autogen/
resources/
!resources/models/
resources/models/
source_old/

# files
*.sublime-*
CMakeCache.txt
cmake_install.cmake
imgui.ini
make.log
Makefile
/PBR
/PBR-OpenCL
/TODO.md
valgrind.log
