@font-face {
	font-family: "OpenSans Web";
	font-weight: normal;
	font-style: normal;
	src: url( "open-sans/OpenSans-Regular.ttf" ) format( "truetype" );
}

@font-face {
	font-family: "OpenSans Web";
	font-weight: normal;
	font-style: italic;
	src: url( "open-sans/OpenSans-Italic.ttf" ) format( "truetype" );
}

@font-face {
	font-family: "OpenSans Web";
	font-weight: bold;
	font-style: italic;
	src: url( "open-sans/OpenSans-SemiboldItalic.ttf" ) format( "truetype" );
}

@font-face {
	font-family: "OpenSans Web";
	font-weight: bold;
	font-style: normal;
	src: url( "open-sans/OpenSans-Semibold.ttf" ) format( "truetype" );
}

@font-face {
	font-family: "OpenSans Light Web";
	font-weight: normal;
	font-style: normal;
	src: url( "open-sans/OpenSans-Light.ttf" ) format( "truetype" );
}

@font-face {
	font-family: "OpenSans Light Web";
	font-weight: normal;
	font-style: italic;
	src: url( "open-sans/OpenSans-LightItalic.ttf" ) format( "truetype" );
}


* {
	margin: 0;
	padding: 0;
}

html {
	background-image: -webkit-radial-gradient( circle farthest-corner at center top, #FFFFFF 0%, #D8DFE9 100% );
	background-image:         radial-gradient( circle farthest-corner at center top, #FFFFFF 0%, #D8DFE9 100% );
	min-height: 100%;
}

body {
	color: #202020;
	font-family: "OpenSans Web", sans-serif;
	font-size: 22px;
}

a {
	border-bottom: 1px solid rgba( 255, 255, 255, 0.7 );
	color: #ffffff;
	text-decoration: none;
}

a:hover {
	border-bottom-color: transparent;
}

p {
	margin-bottom: 16px;
}

* p:last-child {
	margin-bottom: 0;
}



/* Colors */
/* ------ */

.black {
	background-color: #202020;
	border-color: #101010;
}

.blue {
	background-color: #4D86BB;
	border-color: #36628B;
}

.green {
	background-color: #23B623;
	border-color: #1E9F1E;
}

.red {
	background-color: #CD2022;
	border-color: #B21F21;
}


.linear-blue {
	background-image: linear-gradient( to bottom, #4D98DF 0%, #4D86BB 100% );
}

.linear-green {
	background-image: linear-gradient( to bottom, #23B623 0%, #1E9F1E 100% );
}

.linear-red {
	background-image: linear-gradient( to bottom, #E12C2E 0%, #CD2022 100% );
}


.radial-blue {
	background-image: -webkit-radial-gradient( circle farthest-corner at center top, #4D98DF 0%, #4D86BB 100% );
	background-image:         radial-gradient( circle farthest-corner at center top, #4D98DF 0%, #4D86BB 100% );
}

.radial-green {
	background-image: -webkit-radial-gradient( circle farthest-corner at center top, #23B623 0%, #1E9F1E 100% );
	background-image:         radial-gradient( circle farthest-corner at center top, #23B623 0%, #1E9F1E 100% );
}

.radial-red {
	background-image: -webkit-radial-gradient( circle farthest-corner at center top, #E12C2E 0%, #CD2022 100% );
	background-image:         radial-gradient( circle farthest-corner at center top, #E12C2E 0%, #CD2022 100% );
}



/* Specific site elements */
/* ---------------------- */

header {
	-moz-box-sizing: border-box;
	     box-sizing: border-box;
	color: #ffffff;
	display: block;
	padding: 100px 160px;
	position: relative;
	width: 100%;
}

	header.introduction h1 {
		display: inline-block;
		font-family: "OpenSans Light Web";
		font-size: 64px;
		font-weight: normal;
		letter-spacing: -2px;
		line-height: 100%;
		margin-bottom: 16px;
		margin-right: 60px;
		vertical-align: top;
	}

	header .info {
		border-left: 2px solid #ffffff;
		display: inline-block;
		font-size: 22px;
		max-width: 600px;
		padding-left: 40px;
	}

	header .download {
		top: 0;
		left: 160px;
		position: absolute;
		z-index: 100;
	}

		.download a {
			background-color: #404040;
			border: 0;
			border-bottom-left-radius: 2px;
			border-bottom-right-radius: 2px;
			color: #f0f0f0;
			display: inline-block;
			font-size: 70%;
			margin-right: 8px;
			padding: 8px 14px;
		}

		.download a:hover {
			background-color: #D8DFE9;
			color: #303030;
		}


header.demo {
	text-align: center;
}

	header.demo a.button {
		display: inline-block;
		font-family: "OpenSans Light Web";
		font-size: 64px;
		font-weight: normal;
		letter-spacing: -2px;
		line-height: 100%;
		padding: 14px 22px;
	}

	header.demo .annotation {
		display: inline-block;
		font-family: "OpenSans Light Web";
		margin-left: -264px;
		margin-right: 20px;
		vertical-align: middle;
	}


header.about {
	border-top: 3px solid transparent;
	padding-bottom: 10px;
	padding-top: 9px;
	text-align: right;
}

	header.about p {
		color: #f0f0f0;
		font-size: 70%;
		font-style: italic;
	}

	header.about a {
		color: #f0f0f0;
	}

	header.about a:hover {
		border-bottom-color: transparent;
	}


.tags {
	font-size: 15px;
	list-style-type: none;
}

	.tags li {
		background-color: rgba( 0, 0, 0, 0.2 );
		border-radius: 2px;
		color: #f0f0f0;
		display: inline-block;
		margin-right: 4px;
		padding: 5px 12px;
	}

	.tags a {
		border-bottom: 1px solid #d0d0d0;
		color: #f0f0f0;
	}

	.tags a:hover {
		color: #ffffff;
	}


.images {
	text-align: center;
}

	.images img {
		background-color: rgba( 255, 255, 255, 0.2 );
		border: 1px solid #d0d0d0;
		border-radius: 2px;
		display: inline-block;
		height: 178px;
		margin: 10px;
		width: 300px;
	}

	.images a {
		border: 0;
	}


.button {
	border: 2px solid transparent;
	border-radius: 4px;
	transition: -webkit-transform 300ms ease-in-out;
	transition:         transform 300ms ease-in-out;
}

.button:hover {
	-webkit-transform: scale( 1.4 );
	        transform: scale( 1.4 );
}

